#hole-game {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#gameactions {
    margin-top: 10px;
}

#raise-group {
    margin-bottom: 10px;
}

#information {
    margin-top: 20px;
}
