<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Game</title>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/game.js"></script>
</head>
<body>
   <noscript><h2 style="color: #FF0000">Seems your browser doesn't support
    Javascript! Websocket relies on Javascript being enabled.
    Please enable Javascript and reload this page!</h2>
   </noscript>

   <div id="gamecontrol" class="container">
       <div class="row">
           <div class="col-md-6">
               <form class="form-group">
                   <label for="startgame">Websocket connection:</label>
                   <button id="startgame" class="btn btn-default" type="submit">Start Game</button>
                   <button id="connect" class="btb btn-default" type="submit">Open Websocket Connection</button>
                   <button id="connectStomp" class="btn btn-default" type="submit">Open Stomp Websocket Connection</button>
               </form>
           </div>
       </div>
   </div>
    <div id="gameactions" class="container">
        <div class="col-md-6">
            <div class="form-inline">
                <div class="form-group">
                    <button id="raise" class="btn btn-default" type="submit">Raise</button>
                    <input type="text" id="raise-amount" class="form-control" placeholder="Raise - Amount"/>
                </div>
                <div class="button">
                    <button id="call" class="btn btn-default" type="submit">Call</button>
                </div>
                <div class="button">
                    <button id="check" class="btn btn-default" type="submit">Check</button>
                </div>
                <div class="button">
                    <button id="fold" class="btn btn-default" type="submit">Fold</button>
                </div>
                <div class="button">
                    <button id="allin" class="btn btn-default" type="submit">All-In</button>
                </div>
            </div>
        </div>
    </div>


</body>
</html>