<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">
<head>
    <title>Choose your Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>You entered the following username:</h1>
    <p th:text="'player name: ' + ${player.getName()}"/>

    <h1>Choose your Room:</h1>
    <h3>You can join an existing room or you can create a new room.</h3>

    <table>
        <tr th:each="test : ${tables}">
            <td th:text="${test}"/>
            <td>
            <form th:action="@{/table/{test}/players(test=${test})}" method="get">
                <button type="submit">Spieler anzeigen</button>
            </form>
            </td>
            <td>
                <form th:action="@{/table/join/{test}/{player}(test=${test}, player=${player.getName()})}" method="get">
                    <button type="submit">Raum beitreten</button>
                </form>
            </td>
        </tr>
    </table>
    <div>
        <form th:action="@{/table/create/{roomName}/{owner}(roomName=${roomName}, owner=${player.getName()})}" method="get">
            <input type="text" th:value="${roomName}" id="roomName" name="roomName">
            <button type="submit">Raum erstellen</button>
        </form>
    </div>
</body>
</html>